*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body{
    background-color: rgb(189, 189, 189);
}

header{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
}

section{
    padding-top: 70px;
}

img{
    color: gray;
    padding-top: 10px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}

h1{
    font-family: 'Lobster Two', cursive;
    font-size: 80px;
}

::-webkit-scrollbar{
    background-color: rgba(141, 52, 52, 0.041);
    border-radius: 20px;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 10px;
}