*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

img{
    color: gray;
    padding-top: 20px;
    height: 30px;
    margin-left: 7px;
}